/* Banner */

	body.is-preload #banner img {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}

		body.is-preload #banner img:before, body.is-preload #banner img:after {
			width: 100%;
		}

	body.is-preload #banner .more {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}

	body.is-preload #banner:after {
		opacity: 0;
	}